body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff; /* Cor de fundo do cabeçalho */
    border-bottom: 1px solid #000; /* Borda preta na parte inferior */
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

img {
    width: 60px; /* Tamanho da imagem do logotipo */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #000; /* Cor dos links de navegação */
    font-weight: bold;
}

nav ul li:hover a {
    border-bottom: 2px solid #000; /* Adicione uma linha na parte inferior do item quando o cursor estiver sobre ele */
}

/* Estilos para a classe "imagem1" */
.imagem1 {
    width: 512px;
    height: 512px;
    display: block;
    position: absolute;
    top:300px;
    right: 180px;
    opacity: 0.5;
    z-index: 2; /* Valor de z-index maior para a imagem */
}
.elipse1 {
     width: 568px;
     height: 540px;
     background-color: #FFBDC5;
    border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
     position: fixed;
     bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: 1; /* Valor de z-index maior para a elipse */
    box-shadow: 0 0 0 110px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
    }


.elipse2 {
    width: 568px;
    height: 540px;
    background-color: #FFBDC5;
    border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: 0.3;
    box-shadow: 0 0 1 50px #FFBDC5; /* Cria uma sombra para representar metade da elipse */

}

.cabecalho {
    background-color: #f1f1f1; /* Cor de fundo para o cabeçalho */
    color: black; /* Cor do texto no cabeçalho */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; /* Largura total */
    border-top: 1px solid black; /* Adiciona uma borda na parte superior do cabeçalho */
    z-index: 2; /* Valor de z-index maior para o cabeçalho */
}

.sobremim{
    margin: 60px;
}


.sobre-mim-quadrado {
    margin: 20px auto; /* Margem superior e inferior com valor fixo e margem horizontal automática para centralização */
    background-color: #F0F0F0; /* Cor de fundo do quadrado */
    width: 691px; /* Largura de 691 pixels */
    height: 553px; /* Altura de 553 pixels */
    border-radius: 10px; /* Adiciona cantos arredondados ao quadrado */
    text-align: center; /* Alinha o conteúdo no centro horizontalmente */
    margin-left: 400px; /* Adiciona uma margem à esquerda para deslocar o quadrado para a esquerda */
    z-index: 2;
    

}

.texto {
    padding: 55px; /* Espaçamento interno para o texto dentro do quadrado */
    font-size: 18px; /* Tamanho de fonte maior para o texto */
    margin: 0 auto; /* Margem horizontal automática para centralizar o texto dentro do quadrado */
    z-index: 2;
    
}
.imagem-lado-direito {
    position: absolute;
    right: 20px; /* Alinha a imagem com uma margem de 20px à direita do quadrado */
    top: 50%; /* Alinha verticalmente ao centro */
    transform: translateY(-50%); /* Corrige o alinhamento vertical */
    border-radius: 20px; /* Adiciona um pouco de arredondamento à imagem */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do quadrado */
    width: 20%; /* Aumenta a largura da imagem para 20% do quadrado */
    margin-right: -20px; /* Move a imagem um pouco para a esquerda (-20px) */
    left: 1060px;
    display: block; /* Torna a imagem um elemento de bloco para alinhamento vertical */
    z-index: 2;
}
.elipse3 {
    width: 438px;
    height: 368px;
    background-color: #FFBDC5;
    border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    box-shadow: 0 0 0 20px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
    z-index: 1;

}
.elipse4 {
    width: 400px;
    height: 380px;
    background-color: #FFBDC5;
   border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
   right: 0;
   opacity: 0.3;
   z-index: 1; /* Valor de z-index maior para a elipse */
   box-shadow: 0 0 0 110px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
   z-index: 1;
   }



.cabecalho2 {
    background-color: #f1f1f1; /* Cor de fundo para o cabeçalho */
    color: black; /* Cor do texto no cabeçalho */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; /* Largura total */
    border-top: 1px solid black; /* Adiciona uma borda na parte superior do cabeçalho */
    z-index: 2;
}
.formulario {
    width: 450px;
    background-color: #FFBDC5;
    opacity: 0.7;
    position: fixed;
    bottom: 210px;
    left: 345px;
    padding: 50px;
    border-radius: 10px;
    z-index: 2;
}

form {
    text-align: left;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 20px;
}

form input,
form textarea {
    width: 97%;
    padding: 10px;
}

form input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.elipse5 {
    width: 438px;
    height: 368px;
    background-color: #FFBDC5;
    border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    box-shadow: 0 0 0 20px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
    z-index: 1;

}
.elipse6 {
    width: 400px;
    height: 380px;
    background-color: #FFBDC5;
   border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
   right: 0;
   opacity: 0.3;
   z-index: 1; /* Valor de z-index maior para a elipse */
   box-shadow: 0 0 0 110px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
   z-index: 1;
}
.frase-contato {
    color:gray;
    text-align: right; /* Alinha o conteúdo à direita */
    width: 70%; /* Define a largura desejada */
    margin: 0 auto; /* Centraliza horizontalmente */
}


.imagem2{
    width: 512px;
    height: 512px;
    display: block;
    position: absolute;
    top:300px;
    right: 180px;
    opacity: 0.6;
    z-index: 2; /* Valor de z-index maior para a imagem */
}

.elipse7 {
    width: 438px;
    height: 368px;
    background-color: #FFBDC5;
    border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    box-shadow: 0 0 0 20px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
    z-index: 1;

}
.elipse8 {
    width: 400px;
    height: 380px;
    background-color: #FFBDC5;
   border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
   right: 0;
   opacity: 0.3;
   z-index: 1; /* Valor de z-index maior para a elipse */
   box-shadow: 0 0 0 110px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
   z-index: 1;
}
.p{text-align: center;
padding: 20px auto;
font-size: x-large;
border: 2px solid #000;
padding: 20px;
max-width: 200px;
margin: 0 auto;
}
.imagem3{    width: 512px;
    height: 512px;
    display: block;
    position: absolute;
    top:300px;
    right: 180px;
    opacity: 0.6;
    z-index: 2; /* Valor de z-index maior para a imagem */
}

.elipse9 {
    width: 438px;
    height: 368px;
    background-color: #FFBDC5;
    border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    box-shadow: 0 0 0 20px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
    z-index: 1;

}
.elipse10 {
    width: 400px;
    height: 380px;
    background-color: #FFBDC5;
   border-radius: 50%; /* Isso cria um círculo, já que estamos usando 50% de border-radius */
    position: fixed;
    bottom: 0;
   right: 0;
   opacity: 0.3;
   z-index: 1; /* Valor de z-index maior para a elipse */
   box-shadow: 0 0 0 110px #FFBDC5; /* Cria uma sombra para representar metade da elipse */
   z-index: 1;
}